@model ProcCore.Business.Logic.m_ProductKind

@using DotWeb.CommSetup;
@using ProcCore;
@using ProcCore.WebCore;
@using ProcCore.JqueryHelp;
@using ProcCore.JqueryHelp.FormvValidate;
@using ProcCore.JqueryHelp.CustomButton;
@using ProcCore.JqueryHelp.DialogHelp;

@using ProcCore.JqueryHelp.AddValidator;

@section IncludeScript{
    @Html.Partial("Manage/includeScript_Comm")
    @Html.Partial("Manage/includeScript_FineUpload")
    <script type="text/javascript" src="~/_Code/ckeditor_4.1.2_full/ckeditor.js"></script>
    <script type="text/javascript" src="~/_Code/ckfinder_aspnet_2.3.1/ckfinder.js"></script>
}
@section menu{
    @Html.Raw(Session["MenuHtmlString"].ToString())
}
@{

    //欄位規則檢查設定
    FormValidateSetup val_frm_a = new FormValidateSetup(new jqSelector() { IdName = CommWebSetup.eleNameMasterDataForm });
    val_frm_a.Add(Html.FieldsRuleSetup(x => x.Name, new FieldRule() { required = true }, null, null));
    val_frm_a.Add(Html.FieldsRuleSetup(x => x.Sort, new FieldRule() { required = true, digits = true }, null, null));
    val_frm_a.Add(Html.FieldsRuleSetup(x => x.Series, new FieldRule() { required = true, digits = true }, null, null));

    jqSelector jq_for_btn_rtn = new jqSelector() { IdName = "btn_return_list" };
    jqSelector jq_for_btn_sbm = new jqSelector() { IdName = "btn_submit" };

    jqSelector jq_for_btn_opimgL_fmwk = new jqSelector() { IdName = "btn_opdlg_imgl" };

    funcMethodModule func = Html.CommSetFormOnSuccesss();
    funcMethodModule func_BFR = new funcMethodModule() { funcName = "$.OnBegin", funcString = Html.FM_BFR_Hdl_CKEdit(), MakeStyle = funcMethodModule.funcMakeStyle.jqfunc };
}
@using (Ajax.BeginForm(null, null, new AjaxOptions() { Url = Url.Action(CommWebSetup.acNameMasterDataUpdateData), HttpMethod = "post", OnSuccess = func.funcName, OnBegin = func_BFR.funcName }, new { id = CommWebSetup.eleNameMasterDataForm }))
{
    @Html.HiddenFor(x => x.ID, new { @id = "id" })
    @Html.HiddenFor(x => x.EditType)
    <input type="hidden" id="returnQueryString" name="returnQueryString" value="@Html.Raw(ViewBag.QueryString)" />
    <div class="@ViewBag.css_Edit_Master_CaptionCss">
        @ViewBag.Caption
    </div>
    <div class="@ViewBag.css_EditFormNoteCss">
        @Resources.Res.Info_StarMustEdit
    </div>
    <fieldset>
        <legend class="@ViewBag.css_Edit_Subtitle_CaptionCss">@Html.Lang("BaseData")</legend>
        <table>
            <tr>
                <th class="@ViewBag.css_EditFormFieldsNameCss">@Html.LabelField("uploadfield", Resources.Res.Info_FileUploader)</th>
                <td colspan="3">
                    <button type="button" id="@jq_for_btn_opimgL_fmwk.IdName">次分類代表圖片上傳</button>
                </td>
            </tr>
            <tr>
                <th class="@ViewBag.css_EditFormFieldsNameCss">
                    <label class="@ViewBag.css_EditFormFieldsNameCss">@Html.FieldLang(x => x.Name)</label>
                </th>
                <td colspan="3">@Html.TextBoxFor(x => x.Name, new { @maxlength = 128, @size = 64 })</td>
            </tr>

            @*<tr>
                    <th class="@ViewBag.css_EditFormFieldsNameCss">
                        <label class="@ViewBag.css_EditFormFieldsNameCss">@Html.FieldLang(x => x.Code)</label></th>
                    <td colspan="3">@Html.TextBoxFor(x => x.Code, new { @maxlength = 128, @size = 32 })</td>
                </tr>*@

            @{
    List<SelectListItem> Series_Option = new List<SelectListItem>();
    Series_Option.Add(new SelectListItem() { Value = "12", Text = "新進商品" });
    Series_Option.Add(new SelectListItem() { Value = "13", Text = "特價商品" });
    Series_Option.Add(new SelectListItem() { Value = "1", Text = "屏風系列" });
    Series_Option.Add(new SelectListItem() { Value = "2", Text = "辦公桌系列" });
    Series_Option.Add(new SelectListItem() { Value = "3", Text = "會議桌系列" });
    Series_Option.Add(new SelectListItem() { Value = "4", Text = "檔案櫃系列" });
    Series_Option.Add(new SelectListItem() { Value = "5", Text = "主管辦公桌系列" });
    Series_Option.Add(new SelectListItem() { Value = "6", Text = "辦公椅系列" });
    Series_Option.Add(new SelectListItem() { Value = "7", Text = "沙發系列" });
    Series_Option.Add(new SelectListItem() { Value = "10", Text = "其他商品" });
    ViewBag.Series_Option = Series_Option;
            }
            <tr>
                <th class="@ViewBag.css_EditFormFieldsNameCss">
                    <label class="@ViewBag.css_EditFormFieldsNameCss">@Html.FieldLang(x => x.Series)</label>
                </th>
                <td>
                    @Html.DropDownListFor(x => x.Series, (List<SelectListItem>)ViewBag.Series_Option)
                </td>
            </tr>

            <tr>
                <th class="@ViewBag.css_EditFormFieldsNameCss">@Html.FieldLang(x => x.IsSecond)</th>
                <td>@Html.RadioButtonFor(x => x.IsSecond, true) 二手 @Html.RadioButtonFor(x => x.IsSecond, false) 全新</td>
            </tr>
            <tr>
                <th class="@ViewBag.css_EditFormFieldsNameCss">
                    <label class="@ViewBag.css_EditFormFieldsNameCss">@Html.FieldLang(x => x.Sort)</label>
                </th>
                <td colspan="3">@Html.TextBoxFor(x => x.Sort) 數字愈大排在愈前面</td>
            </tr>

            <tr>
                <th class="@ViewBag.css_EditFormFieldsNameCss">@Html.FieldLang(x => x.IsOpen)</th>
                <td>@Html.RadioButtonFor(x => x.IsOpen, true) 開放 @Html.RadioButtonFor(x => x.IsOpen, false) 關閉</td>
            </tr>
        </table>
    </fieldset>

    <div class="@ViewBag.css_EditFormNavigationFunctionCss">
        <button type="submit" id="@jq_for_btn_sbm.IdName">
            @(Model.EditType == EditModeType.Insert ? Resources.Res.Button_Sure_Insert : Resources.Res.Button_Sure_Modify)
        </button>
        <button type="button" id="@jq_for_btn_rtn.IdName">@Resources.Res.Button_Return</button>
    </div>
}

@Html.Partial("Manage/includeFiledownload_iFrame")
@Html.ImageFineUpLoad("hd_ImageUpB", Resources.Res.Info_Title_ImageUpload, jq_for_btn_opimgL_fmwk.IdName, "ajax_UploadFine", "ajax_ListFiles", "ajax_DeleteFiles", Model.ID, "ListIcon", 480, 640)
@{
    //===
    jqButton btn_sbm_fmwk = new jqButton(new jqSelector() { IdName = jq_for_btn_sbm.IdName });
    btn_sbm_fmwk.options.icons.primary = FrameworkIcons.ui_icon_check;

    //===
    jqButton btn_rtn_fmwk = new jqButton(jq_for_btn_rtn);
    btn_rtn_fmwk.options.icons.primary = FrameworkIcons.ui_icon_arrowreturnthick_1_w;

    jqElementEvent btn_rtn_evt_clk = new jqElementEvent(jq_for_btn_rtn);
    btn_rtn_evt_clk.events.Add(new jqElementEvent.jqEvents() { htmlElementEvent = HtmlObjectEvent.click, funcString = "document.location.href='" + Url.Action(CommWebSetup.acNameEditFormReturnGridList) + "?' + $('#returnQueryString').val();" });
    //===

    jqButton btn_opimgL_fmwk = new jqButton(new jqSelector() { IdName = jq_for_btn_opimgL_fmwk.IdName });
    btn_opimgL_fmwk.options.icons.primary = FrameworkIcons.ui_icon_arrow_4_diag;

}
<script type="text/javascript">
    @Html.Raw(val_frm_a.ToScriptString())

    @Html.Raw(btn_opimgL_fmwk.ToScriptString())

    @Html.Raw(btn_sbm_fmwk.ToScriptString())
    @Html.Raw(btn_rtn_fmwk.ToScriptString())
    @Html.Raw(btn_rtn_evt_clk.ToScriptString())
    @Html.Raw(func.ToScriptString())
</script>
<script>
    (function ($) {
    })(jQuery);
</script>
